.hasMore {
  overflow: hidden;
  position: relative;
}

.hasMore .expandMore {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15em;
  display: block;
  text-align: right;
}

.hasMore .contractMore {
  text-align: right;
}