.resizableEllipsis {
  overflow: hidden;
  position: relative;
}

.resizableEllipsis .expandResizableEllipsis {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15em;
  display: block;
  text-align: right;
}